body {    
    background-color: #232049;
    color: #ffffff;
}

#container {
    width: 580px;
    height: 250px;
    margin: auto;
    text-align: center;
}

.box {
    float: left;
    width: 150px; 
    height: 180px;
    margin: 20px 20px;
}

#footer {
    height: auto;
    width: auto;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
    bottom: 0;
}
